@charset "UTF-8";
/* div{
    border: 1px black solid;
} */
.flex-box{
	display: flex;
}
a{
	color: black;
}
p{
    text-align: center;
}

body{
    width: 1440px;
    margin: auto;
}


.header-wrapper{
    height: 60px;
    justify-content: space-between;
    padding: 20px 100px 0;
}
.header-content{
    padding: 10px 50px;
    border: none;
}
.header-image{
    height: 300px;
}
.ad{
    height: 150px;
}
.project-box{
    height: 300px;
}
.title{
    padding: 20px 100px;
    border: none;
    justify-content: space-between;
}
.project{
    border: none;
    padding: 10px 150px;
    justify-content: space-between;
}
.project-content{
    width: 240px;
    padding-bottom: 20px;
    background:repeating-linear-gradient(
    -45deg,
    #ccc,
    #ccc 1px,
    #fff 0,
    #fff 29px
    );
}
.project-content img{
    width: 240px;
    height: 140px;
    object-fit: cover;
}
.tag-box{
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 20px 100px;
}
.tag-content{
    padding: 10px 80px;
    margin: 0 20px 30px
}
.whatis{
    height: 180px;
    background-color: #e73650;
}
.whatis p{
    color: white;
}
.recruitment{
    height: 180px;
    background-color: #e7f0fd;
}
.interview-content{
    padding: 80px 120px;
    background:repeating-linear-gradient(
        -45deg,
        #ccc,
        #ccc 1px,
        #fff 0,
        #fff 29px
        );
}
footer{
    height: 300px;
    border: 1px black solid;
    background-color: #383d43;
}
footer p{
    color: white;
}

@media screen and (max-width:374px){
  
}

html{
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-flow: column;
}

header {
  text-align: center;
}

header img{
  width: 150px;
  margin: 10px 0;
}

body div.container{
  border: 1px black solid;
  border-radius: 20px;
  padding: 20px 0;
  width: 400px;
  margin: 0  auto;
  margin-bottom: 20px;
}

.input_box { 
  width: 373px;
  margin: 0 auto;
}

.input input{
  padding: 10px;
  line-height: 1;
  width: 350px;
  margin-bottom: 20px;
}

.input p{
  font-weight: bold;
}

.login input{
  display       : inline-block;
  border-radius : 15px;          /* 角丸       */
  font-size     : 15px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px 5px;   /* 余白       */
  background    : greenyellow;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 30px;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  width: 373px;
  border: solid 0px greenyellow;
  margin-bottom: 20px;
}
.login:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}

.register {
  display: flex;
  justify-content: right;
}

.register a{
  margin-right: 20px;
  text-decoration: none;
  color: #0073cc;
}

.register a:hover{
  color: rgb(138, 180, 248);
  text-decoration:underline;
}

h1.fsize{
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

footer{
  height: auto;
  border: 1px black solid;
  background-color: #383d43;
  flex-grow: 1;
}
footer p{
  color: white;
}