@charset "UTF-8";
/* div{
    border: 1px black solid;
} */

@font-face {
  font-family: "logo";
  src:
    url("../font/MADEGentlePERSONALUSE.otf") format("opentype"),
}

.flex-box{
	display: flex;
}
a{
	color: black;
}
p{
    text-align: center;
}

body{
    /* width: 1440px; */
    margin: auto;
}

header {
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header-content a img{
  width: 45px;
}

.header-left .header-content a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-left .header-content a h1{
  font-size: 25px;
  font-family: 'logo', sans-serif;
  color: rgb(2, 175, 2);
  padding-top: 5px;
}

.search-form-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px solid #777777;
  border-radius: 3px;
  height: 80%;
}

.search-form-3 input {
  width: 250px;
  height: 45px;
  padding: 5px 15px;
  border: none;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}

.search-form-3 input::placeholder{
  color: #777777;
}

.search-form-3 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 45px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-form-3 button::after {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23777777'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: '';
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

/* .header-wrapper{
    height: 60px;
    justify-content: space-between;
    padding: 20px 100px 0;
} */
.header-content{
    border: none;
    padding: 10px 10px;
}

/* .header-content p{
  text-decoration: none;
  padding: 10px 10px;
} */

.header-content a{
  display: flex;
  text-decoration: none;
  /* padding: 10px 10px; */
}

.header-right .header-content a:hover{
  opacity: 0.5;
}

.ad{
    height: 150px;
}
.project-box{
    height: 300px;
}
.title{
    padding: 20px 100px;
    border: none;
    justify-content: space-between;
}
.project{
    border: none;
    padding: 10px 150px;
    justify-content: space-between;
}
.project-content{
    width: 240px;
    padding-bottom: 20px;
    background:repeating-linear-gradient(
    -45deg,
    #ccc,
    #ccc 1px,
    #fff 0,
    #fff 29px
    );
}
.project-content img{
    width: 240px;
    height: 140px;
    object-fit: cover;
}
.tag-box{
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 20px 100px;
}
.tag-content{
    padding: 10px 80px;
    margin: 0 20px 30px
}
.whatis{
    height: 180px;
    background-color: #e73650;
}
.whatis p{
    color: white;
}
.recruitment{
    height: 180px;
    background-color: #e7f0fd;
}
.interview-content{
    padding: 80px 120px;
    background:repeating-linear-gradient(
        -45deg,
        #ccc,
        #ccc 1px,
        #fff 0,
        #fff 29px
        );
}
footer{
    height: 300px;
    border: 1px black solid;
    background-color: #383d43;
}
footer p{
    color: white;
}