@charset "UTF-8";

.product .flex-box{
	display: flex;
}
.product a{
	text-decoration: none;
    color: black;
}

.product{
    width: 1180px;
    margin: auto;
    margin-top: 100px;
    background-color: #fffcf8;}

.product h3{
    font-size: 28px;
}
.product h4{
    font-size: 22px;
    margin: 8px 0 0;
}
.product h5{
    font-size: 18px;
    margin: 22px 0 6px;
}

.product .slide-wrapper {
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
    /* topの値header heightに合わせる */
    position: sticky;
    top: 0;
  }
.product .slide {
    height: 100%;
    display: flex;
    transition: all 0.3s;
  }
.product .slide img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}
.product .slide div {
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
.product .next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
  }
.product .prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
  }
.product .indicator {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
.product .indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
  }
.product .indicator li:first-of-type {
    background-color: #000;
  }

.product .text-box{
    width: 500px;
    margin: 0 0 0 80px;
}
.product .name{
    font-size: 18px;
}
.product .tax{
    font-size: 12px;
}
.product .review{
    align-items: center;
}
.product .star{
    font-size: 22px;
}
.product .review .howmanyreviews{
    font-size: 14px;
    margin: 0 0 0 6px
}
.product .cart{
    margin: 12px 0 0 0;
    width: 500px;
    height: 52px;
    align-items: center;
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
.product .cart:hover{
    background-color: #e9e9df;
    transition: 0.2s;
}
.product .cart p{
    margin: auto;
}