<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アドミンダッシュボード</title>
    <style>
        th{width: 180px;text-align: left;}
    </style>
</head>
<body>
    <h1>登録ユーザー情報</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>削除</th>
            <th>password</th>
        </tr>
        {% for user in users %}

        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if(user.email != "1@1") %}
                <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="POST">
                    <button type="submit">削除</button>
                </form>
                {% endif %}
            </td>
            <td>{{ user.password }}</td>
        </tr>
        
        {% endfor %}
    </table>
</body>
</html>
