{% extends "layout.html" %} {% block title %}カート{% endblock %} {% block
content %}
<h1>カート</h1>
{% if products %}
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>価格</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>¥{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>¥{{ product.total }}</td>
      <td>
        <form action="{{url_for('main.pop_from_cart')}}" method="post">
          <input type="hidden" name="id" value="{{ product.id }}" /><input
            type="submit"
            value="削除"
          />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p><strong>合計金額:</strong> ¥{{ total_price }}</p>
<a href="/kounyu" class="btn btn-primary">購入手続きへ</a>
{% else %}
<p>カートに商品がありません。</p>
{% endif %}
<a href="/" class="btn btn-secondary">戻る</a>

{% endblock %}
