<footer>
  <div class="footer_sns">
  <p>公式SNS</p>
  <ul>
      <li><img src="{{ url_for('static', filename = 'img/share.png')}}" alt=""></li>
      <li><a href=""><img src="{{ url_for('static', filename = 'img/02_Twitter.svg')}}" alt=""></a></li>
      <li><a href=""><img src="{{ url_for('static', filename = 'img/03_Facebook.svg')}}" alt=""></a></li>
      <li><a href=""><img src="{{ url_for('static', filename = 'img/04_Instagram.svg')}}" alt=""></a></li>
    </ul>
  </div>
  <p><small>HEW 2025 SUSTELLA</small></p>
</footer>