<footer class="footer">
    <div class="md-flex md-justify-between">
      <a href="https://jajaaan.co.jp/" class="footer__logo">
        
      </a>
      <div class="grid">
        <div>
          <p class="footer__navi-heading">SERVICE</p>
          <ul class="footer__navi">
            <li><a href="#">サービスA</a></li>
            <li><a href="#">サービスB</a></li>
            <li><a href="#">サービスC</a></li>
          </ul>
        </div>
        <div>
          <p class="footer__navi-heading">FOLLOW US</p>
          <ul class="footer__navi">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div>
          <p class="footer__navi-heading">ABOUT</p>
          <ul class="footer__navi">
            <li><a href="#">会社概要</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="#">サイトマップ</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr />

    </p>
  </footer>