<footer>
  <div class="footer_sns">
  <p>公式SNS</p>
  <ul>
      <li><img src="{{ url_for('static', filename = 'img/share.png')}}" alt=""></li>
      <li><a href=""><img src="{{ url_for('static', filename = 'img/02_Twitter.svg')}}" alt=""></a></li>
      <li><a href=""><img src="{{ url_for('static', filename = 'img/03_Facebook.svg')}}" alt=""></a></li>
      <li><a href=""><img src="{{ url_for('static', filename = 'img/04_Instagram.svg')}}" alt=""></a></li>
    </ul>
  </div>
  <div class="footer_menu">
    <ul>
      <li><a href="">個人情報の扱いについて</a></li>
      <li><a href="">お問い合わせ</a></li>
      <li><a href="">プライバシーポリシー</a></li>
      <li><a href="/">HOME</a></li>
    </ul>
  </div>
  <div class="small">
    <p><small>HEW 2025 SUSTELLA</small></p>
  </div>
</footer>