{% block hed %}
<header>
  <div class="header-wrapper flex-box">
    <div class="header-content"><p>logo</p></div>
    <div class="header-content"><p>search</p></div>
    <div class="header-content"><p>what is</p></div>
      {% if current_user.is_authenticated %}
          <a href="{{ url_for('main.profile') }}">プロフィール</a>
          <a href="{{ url_for('main.logout') }}">ログアウト</a>
      {% else %}
          <a href="{{ url_for('main.login') }}">ログイン</a>
          <a href="{{ url_for('main.register') }}">新規登録</a>
      {% endif %}
  <div class="header-image"><p>img</p></div>
</header>
{% endblock %}