{% block hed %}
<header>
  <div class="header-wrapper flex-box">
    <div class="header-content">
      <a href="/"
        ><img src="{{ url_for('static', filename='img/logo_3.png') }}" alt=""
      /></a>
    </div>
    <div class="header-content">
      <p>search</p>
    </div>
    <div class="header-content">
      <p>what is</p>
    </div>
    <div class="header-content">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('main.profile') }}">プロフィール</a>
      <a href="{{ url_for('main.logout') }}">ログアウト</a>
      {% else %}
      <a href="{{ url_for('main.login') }}">ログイン</a>
      <a href="{{ url_for('main.register') }}">新規登録</a>
      {% endif %}
    </div>
    <!-- カートマークを追加 -->
    <div class="header-content cart-icon">
      <a href="{{ url_for('main.cart') }}">
        <img
          src="{{ url_for('static', filename='img/cart_icon.png') }}"
          alt="カート"
          class="cart-img"
        />
        {% if session.get('cart') %}
        <span class="cart-count">{{ session['cart']|length }}</span>
        {% endif %}
      </a>
    </div>
    <div class="header-image">
      <p>img</p>
    </div>
  </div>
</header>
{% endblock %}
