<!-- <div class="start">
  <p><img src="{{ url_for('static', filename = 'img/logo_3.png')}}" alt=""></p>
</div> -->

<!-- <div class="main-visual">
  <div class="slideshow">
    <img
      src="{{ url_for('static', filename = 'img/sakana.jpg')}}"
      alt="Slideshow Image 1"
      class="active"
    />
    <img
      src="{{ url_for('static', filename = 'img/yasai.jpg')}}"
      alt="Slideshow Image 2"
    />
    <img
      src="{{ url_for('static', filename = 'img/zyamu.jpg')}}"
      alt="Slideshow Image 3"
    />
  </div>
</div> -->

{% extends "layout.html" %} {% block title %}ホーム{% endblock %}
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/reset-min.css" />
  <link rel="stylesheet" href="../static/css/style.css" />
  {% block css %}
  <link rel="stylesheet" href="../static/css/home.css" />
  {% endblock %}
  <title></title>
</head>

{% block content %}

<body>

  <div class="top_video">
    <video src="../static/video/top_video.mp4" autoplay muted loop></video>
  </div>
  
  <main>
    <div class="item-pickup">
      <div class="item-pickup_content">
        <h1>SUSTELLAのこだわり</h1>
        <p>
          SUSTELLAでは商品にならずに廃棄される規格外品を<br />安く販売することで食品ロスの削減を目指しています。
        </p>
        <p>
          主に廃棄される見た目の悪い規格外品を使った加工品や<br />味は正規品と遜色ない見た目が悪いだけで廃棄される食品を冷凍して販売しています。
        </p>
      </div>
    </div>
    <div class="commodity_top">
      <div class="commodity">
        <a href="{{url_for('main.product')}}">
          <div class="commodity_img">
            <img
              src="{{ url_for('static', filename = 'img/jamu_2.png')}}"
              alt=""
            />
          </div>
          <div class="text_set">
            <img
              src="{{ url_for('static', filename = 'img/ichigo.png')}}"
              alt=""
            />
            <p>
              見た目や形が規格に合わず市場に出せないいちごを、そのまま廃棄せずに加工し、食品ロスの削減と地球環境への配慮を両立させた、美味しさあふれるオリジナルジャム。
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="commodity_main">
      <div class="commodity_middle">
        <div class="commodity_content">
          <a href="/store/1">
            <div class="img"><img class="img" src="{{ url_for('static', filename = 'img/products/1/main.jpg')}}"></div>
            <h2>apple</h2>
            <h4>長野県産　シナノゴールド</h4>
            <p>¥1,980（税込）</p>
          </a>
        </div>
        <div class="commodity_content">
          <a href="/store/2">
            <div class="img"><img class="img" src="{{ url_for('static', filename = 'img/products/2/main.jpg')}}"></div>
            <h2>banana</h2>
            <h4>ブラジル産　バナナ</h4>
            <p>¥1,980（税込）</p></a
          >
        </div>
        <div class="commodity_content">
          <a href="/store/3">
            <div class="img"><img class="img" src="{{ url_for('static', filename = 'img/products/3/main.jpg')}}"></div>
            <h2>iwashi</h2>
            <h4>石川県産　イワシ</h4>
            <p>¥1,980（税込）</p></a
          >
        </div>
        <div class="commodity_content">
          <a href="/store/4">
            <div class="img"><img class="img" src="{{ url_for('static', filename = 'img/products/4/main.jpg')}}"></div>
            <h2>kyabetsu</h2>
            <h4>愛知県産　キャベツ</h4>
            <p>¥1,980（税込）</p></a
          >
        </div>
      </div>
      <div class="others">
        <a href="/search">
          <p>もっと見る</p>
          <div class="arrow">
            <p>»</p>
          </div>
        </a>
      </div>
    </div>
    <div class="map_main">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/d/u/0/embed?mid=1auv6RDERvmv2HqqSTKqxtYCCau5CUQA&ehbc=2E312F&noprof=1&ll=35.73865292325437%2C139.75624718490045&z=10"
          width="540"
          height="380"
        ></iframe>
      </div>
    </div>
    <!-- <div class="project-box">
        <div class="flex-box title">
          <p>最近見たプロジェクト</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
        </div>
      </div>
      <div class="project-box">
        <div class="flex-box title">
          <p>注目されているタグ</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="tag-box">
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
          <a href=""><div class="tag-content"><p>#tag</p></div></a>
        </div>
      </div>
      <div class="project-box">
        <div class="flex-box title">
          <p>注目のプロジェクト</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="project-content"><img src=static/img/apple.jpg></img></div></a>
          <a href=""><div class="project-content"><img src="static/img/asupara.jpg"></img></div></a>
          <a href=""><div class="project-content"><img src="static/img/iwashi.jpg"></img></div></a>
          <a href=""><div class="project-content"><img src="static/img/banana.jpg"></img></div></a>
        </div>
      </div>
      <div class="project-box">
        <div class="flex-box title">
          <p>あと一押しのプロジェクト</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
        </div>
      </div>
      <div class="project-box">
        <div class="flex-box title">
          <p>支援金額の多いプロジェクト</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
        </div>
      </div>
      <div class="project-box">
        <div class="flex-box title">
          <p>新規のプロジェクト</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
        </div>
      </div>
      <div class="whatis"><p>what is crowdfunding</p></div>
      <div class="project-box">
        <div class="flex-box title">
          <p>現在募集中のプロジェクト</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
        </div>
      </div>
      <div class="recruitment"><p>supporter recruitment</p></div>
      <div class="project-box">
        <div class="flex-box title">
          <p>継続寄付のプロジェクト</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
          <a href=""><div class="project-content"><p>project</p></div></a>
        </div>
      </div>
      <div class="project-box">
        <div class="flex-box title">
          <p>クラウドファンディング実行者インタビュー</p>
          <p><a href="">もっと見る></a></p>
        </div>
        <div class="flex-box project">
          <a href=""><div class="interview-content"><p>interview</p></div></a>
          <a href=""><div class="interview-content"><p>interview</p></div></a>
          <a href=""><div class="interview-content"><p>interview</p></div></a>
        </div>
      </div> -->
  </main>

  {% block script %}
  <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"
  ></script>
  <script src="{{ url_for('static', filename='js/slide.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/start.js') }}"></script> -->
  {% endblock %}
</body>

{% endblock %}
