{% extends "layout.html" %} {% block css %}<link
  rel="stylesheet"
  href="/static/css/enquiry.css"
/>{% endblock %} {% block content %}
<div class="wrapper">
  <div class="navi">
    <ul class="navi-">
      <li>
        <a href="#faq">
          <span>よくあるご質問（FAQ）</span>
        </a>
      </li>
      <li>
        <a href="">
          <span>お問い合わせ窓口</span>
        </a>
      </li>
    </ul>
    <section class="faq-section" id="faq">
      <h1>よくある質問 (FAQ)</h1>
      <ul>
          {% for question in faqs %}
          <li>
            <a href="/faq/{{ loop.index }}">
              <strong>Q: {{ question }}</strong><br>  
            </a>
          </li>
          {% endfor %}
      </ul>
    </section>
  </div>

  <!-- ------------------------------------------------------------------------------------------------------- -->
<div class="all">
  <div>
  <h1>test</h1>
  <h2>test2</h2>
  </div>
</div>
{% endblock %}
