<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/reset-min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}My Site{% endblock %}</title>
</head>


{% block content %}
<div class="container">
<form method="post">
  <h1 class="fsize">登録</h1>
  <div class="content">
    <div class="input_box">
      <div class="input">
        <p>ユーザーネーム</p>
        <input type="email" placeholder="email" name="email">
    </div>
      <div class="input">
        <p>パスワード</p>
        <input type="password" placeholder="Password" name="password">            
      </div>
    <div class="login">
      <input type="submit" value = "登録">
  </div>
</div>
</div>
</div>     
<div class="register">
  <a href="login">ログイン</a>  
  </div>
    </form>
  
      
      {% endblock %}
      {% include "foot.html" %}