{% extends "layout.html" %} {% block css %}
<link rel="stylesheet" href="../static/css/shipping.css" />
{% endblock %}

<title>{% block title %}My Site{% endblock %}</title>

{% block content %}
<div class="main">
  <div class="mian_form">
    <div class="shipping_address">
      <div class="shipping_heder">
        <h1>配送先</h1>
        <button type="submit">編集</button>
      </div>
      <div class="sipping_content">
        <h2>氏名</h2>
        <p>ｓ水</p>
      </div>
      <div class="sipping_content">
        <h2>配送先住所</h2>
        <div class="sipping_residence">
          <p>〒999-9999</p>
          <p>東京都新宿区歌舞伎町9-100-1000</p>
        </div>
      </div>
      <div class="sipping_content">
        <h2>電話番号</h2>
        <p>999-0000-0000</p>
      </div>
    </div>
    <div class="sipping_time">
      <div class="sipping_time_heder">
        <h1>配送日・配送時間を指定してください</h1>
      </div>
      <div class="sipping_time_notice">
        <p>お届け予定日が異なる商品を注文される場合、最も遅いお届け予定日にまとめて配送いたします。</p>
        <br />
        <p>お急ぎの商品がある場合は、分割して購入いただきますようお願いいたします。</p>
      </div>
      <div class="shipping_form">
        <div class="shipping_form_row">
          <h2>ご希望配送日</h2>
          <p>指定なし(最短)</p>
        </div>
        <div class="shipping_form_row">
          <h2>ご希望配送時間</h2>
          <select class="shipping_form_row_time" name="shipping_form_row_time" value="" maxlength="50">
            <option value="" selected="">指定なし</option>
            <option value="0812">08時-12時</option>
            <option value="1214">12時-14時</option>
            <option value="1416">14時-16時</option>
            <option value="1618">16時-18時</option>
            <option value="1821">18時-21時</option>
            <option value="1921">19時-21時</option>
          </select>
        </div>
        <div class="shipping_form_row">
          <h2>ドライバーへの指定</h2>
          <select class="shipping_form_row_driver" name="shipping_form_row_driver" value="" maxlength="50">
            <option value="" selected="">指定なし</option>
            <option value="box">宅配ボックスに入れてください</option>
          </select>
        </div>
      </div>
    </div>
    <div class="shipping_button">
      <div class="shipping_button_carto">
        <a href="cart">カートに戻る</a>
      </div>
      <div class="shipping_button_payment">
        <a href="shipping_2">支払いへ進む</a>
      </div>
    </div>
  </div>
  <div class="main_summary">
    <h2>注文の概要</h2>
    <div class="price">
      <h3>小計</h3>
      <p>￥10,000</p>
    </div>
    <div class="price">
      <h3>配送料</h3>
      <p>￥660</p>
    </div>
    <div class="price_total">
      <h3>合計金額</h3>
      <p>￥10,660</p>
    </div>
  </div>
</div>
{% endblock %}
